.box {
    width: 90%;
    border: 1px solid white;
    color: black;
}

.input {
    border: 0;
    padding: 7px 0;
    border-bottom: 1px solid #ccc;
}

.input:focus {
    outline: none;
    background-color: rgba(228, 228, 228, 0.5);
    transition: 0.2s;
}

.board {
    width: 100%;
    height: max-content + 200px;
    display: flex;
    flex-direction: column;
}


.buttonForm {
    align-items: center;
    background-clip: padding-box;
    background-color: #fa6400;
    border: 1px solid transparent;
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
}

.buttonForm:hover,
.buttonForm:focus {
    background-color: #fb8332;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.buttonForm:hover {
    transform: translateY(-1px);
}

.buttonForm:active {
    background-color: #c85000;
    box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
    transform: translateY(0);
}

.error {
    color: red;
    text-align: center;
    font-weight: bold;
}