.container{
    width: 100%;
}

.box {
    width: 100%;
    text-align: center;
    display: grid;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px 40px;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr 40px 40px;
    border: 2px solid white;
    border-radius: 40px;
}
.boxUpdate{
    width: 100%;
    text-align: center;
    display: grid;
    align-items: center;
   
    border-radius: 40px;
}
.topFormUpdate{
    display: flex;
    justify-content: space-between;
    padding:0px 20px;
    align-items: center;
    border:  3px solid white;
    border-radius: 10px 10px 0px 0px;
    background-color: black;
}
.titeFormUpdate{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.closeFormUpdate{
    width: 30px;
    height: 30px;
}
.closeFormUpdate svg{
    width: 100%;
    height: 100%;
}
.closeFormUpdate:hover{
    cursor: pointer;
}
.containerUpdate{
    width: 100%;
}
.buttonIndex{
    height: 30px;
    height: 30px;
    margin: auto auto;
}
.buttonIndex svg{
    width: 100%;
    height: 100%;
}
.buttonsTable{
    display: flex;
}

.title {
    font-size: 18px;
    font-weight: bold;
    color: var(--main-color);
}

.price {
    font-size: 18px;
    font-weight: bold;
    color: var(--dark-text);
}

.desc {
    text-align: center;
    color: var(--sub-dark-text);
}

.containerScreenForm{
    
}
.ScreenForm{
    height: auto;
    width: auto;

    display: flex;
    z-index: 5;

    justify-content: center;
    align-items: center;

}
.backgroundFrom{

}

@media (max-width:720px) {
    .box {
        width: 100%;
        flex-direction: column;
        grid-template-columns: auto;
    }

    .box img {
        width: 200px;
        height: 200px;

    }

}