.container{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 20px;
}
.container img{
	height: 100px;
	width: 100px;
}

.container h1{
	font-size:3rem;
	margin-bottom: 20px;
	background-color: lightgrey;
	color: 	#4c35ae;
	font-weight: bolder;
	font-family: verdana,sans-serif;
}

@media screen and (max-width: 400px){
.container h1{
	font-size:2rem;
}
.container img{
	height: 70px;
	width: 70px;
}
}